<div class="slider-view">
    <div class="slider-line">
        <!--Декоративные блики-->
        <div class="circle" style="left: -1101px; top: -1115px"></div>
        <div class="circle" style="right: -1196px; top: 204px"></div>
        <div class="circle" style="left: -1101px; top: 1900px"></div>
        <div class="circle" style="right: -1196px; top: 2700px"></div>
        <div class="circle" style="left: -1101px; top: 4300px"></div>
        <div class="circle" style="right: -1196px; top: 5000px"></div>

        <!--Главная-->
        <div class="block label">
            <header>
                <button id="abt-poizon" class="btn">Что такое POIZON</button>
                <button id="abt-prjct"  class="btn">О проекте</button>
                <button id="calculate"  class="btn">Калькулятор</button>
                <button id="order"      class="btn">Сделать заказ</button>
                <button id="contacts"   class="btn">Контакты</button>
            </header>
        
            <div class="parallax-scene">
                <div class="parallax-item"></div>
            </div>
        
            <button class="btn down-btn"></button>
        </div>

        <!--О POIZON-->
        <div class="block">
            <div class="block-bg">
                <div class="hash-symbol"></div>

                <div class="block-header">
                    <h2 class="label">ЧТО ТАКОЕ POIZON?</h2>
                </div>

                <div class="grid1">
                    <label style="grid-area: label;">
                        POIZON - это китайский онлайн маркетплейс, специализирующийся на дизайнерских и брендовых
                        товарах, которые проходят строгие проверки на оригинальность.
                    </label>

                    <label class="gray" style="grid-area: text;">
                        Возможность приобрести подделку практически исключена.
                        <br><br>
                        В ассортименте магазина представлены крупные уличные бренды, представители дорогого сегмента,
                        а также официальные дистрибьюторы и реселлеры товаров.
                        <br><br>
                        POIZON начал свою деятельность в 2015 году как онлайн-комьюнити для поклонников уличной моды
                        и коллекционеров кроссовок.
                    </label>
                    
                    <div class="image-container poizon"></div>
                </div>
            </div>

            <div class="block-discription first">
                <h1>300k+</h1>
                <h1>400+</h1>
                <h1>100%</h1>
                <h1>9</h1>
                <label>ассортимент товаров</label>
                <label>различных брендов</label>
                <label>оригинальные товары</label>
                <label>лет работы</label>
            </div>
        
            <h1 class="gray">can't stop won't stop</h1>
        </div>

        <!--О проекте-->
        <div class="block">
            <div class="block-bg">
                <div class="hash-symbol"></div>

                <div class="block-header">
                    <h2 class="label">POIZON MARKET</h2>
                </div>

                <div class="grid1">
                    <label style="grid-area: label;">
                        POIZON MARKET - команда, которая обеспечивает своих клиентов
                        качественной доставкой товаров из Китая.
                    </label>

                    <label class="gray" style="grid-area: text;">
                        Наша команда предлагает гибкую систему ценообразования, а также высокий уровень сервиса,
                        гарантируя полную удовлетворенность клиентов.
                        <br><br>
                        Мы предоставляем каждому своему клиенту персонального менеджера, который будет следить
                        за состоянием заказа с момента оформления до момента получения.
                        <br><br>
                        POIZON MARKET <br> — поможем с выкупом и доставкой
                    </label>
                    
                    <div class="image-container progect"></div>
                </div>

            </div>

            <div class="block-discription second">
                <h1>100+</h1>
                <h1>250+</h1>
                <h1>100%</h1>
                <label>довольных заказчиков</label>
                <label>выкуплено позиций</label>
                <label>положительных отзывов</label>
            </div>

            <h1 class="gray">POIZON.MARKET</h1>
        </div>

        <!--Калькулятор цены-->
        <div class="block nearest">            
            <div class="block-bg">
                <div class="hash-symbol"></div>
            
                <div class="block-header">
                    <h2 class="label">Калькулятор</h2>
                </div>
    
                <div class="grid2">
                    <div class="grid-item">
                        <label>Цена в ¥</label>
                        <input type="number" class="text-input" placeholder="78.99" id="currency">
                    </div>
                    <div class="grid-item">
                        <label>Условия доставки</label>
                        <label>
                            <span class="gray">Цена доставки в Россию:</span> 570₽ за килограмм.<br><span class="gray">Цена доставки в регионы:</span> по условиям Почты России.<br><br>
                            <span class="gray">Срок доставки в Россию:</span> от 10 до 18 дней.<br><span class="gray">Срок доставки в регионы:</span> по условиям Почты России.
                        </label>
                    </div>
                    <div class="image-container calculate"></div>
                </div>
            </div>

            <div class="interect-container">
                <h2 id="currency_label">итого: 0.00₽</h2>
                <button class="text-btn" id="calculate_currency">рассчитать </button>
            </div>

            <div class="block-discription third">
                <label>Обратите внимание</label>
                <label class="gray">
                    Оплата происходит поэтапно, сначала Вы оплачиваете выкуп, а когда товар пройдет процедуру взвешивания на складе в Китае,
                    мы сообщим о стоимости доставки в Ваш регион.<br><br> Отправление возможно как через Почту России, так и через СДЭК.
                </label>
            </div>
        </div>

        <!--Заявка-->
        <div class="block">
            <div class="block-bg">
                <div class="hash-symbol"></div>
            
                <div class="block-header">
                    <h2 class="label">Оставить заявку</h2>
                </div>
                
                <div style="display: flex; height: 80%;">
                    <div>
                        <div class="grid3">
                            <div class="grid-item">
                                <label>Ссылка на товар</label>
                                <input type="text" class="text-input" placeholder="https://..." id="product_link">
                            </div>
                            <div class="grid-item">
                                <label>Как к Вам обращаться</label>
                                <input type="text" class="text-input" placeholder="Ваше имя" id="nickname">
                            </div>
                            <div class="grid-item">
                                <label>Ваш размер</label>
                                <input type="number" class="text-input" placeholder="Ваш размер" id="size">
                            </div>
                            <div class="grid-item">
                                <label>Ваш Вконтакте</label>
                                <input type="text" class="text-input" placeholder="@your_id" id="buyer_link">
                            </div>
                        </div>

                        <label class="gray" style="margin: auto 50px;">*если у Вас нет ВКонтакте, то можете указать телеграм</label>
                    </div>
                    
                    <div class="form-label"></div>
                </div>

            </div>

            <div class="interect-container">
                <h2>ответим в течении дня</h2>
                <button class="text-btn" id="sent_form_btn">отправить</button>
            </div>
        </div>
        
        <!--Контакты-->
        <div class="block label">
            <div class="parallax-scene foother">
                <a class="parallax-label" href="https://vk.com/poizonmarket" target="_blank"></a>
            </div>
            <button class="btn up-btn"></button>
        </div>
    </div>
</div>