<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POIZON MARKET - поможем с выкупом и доставкой</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/imgs/logo.ico">
    <script type="module" defer src="/js/script.js"></script>
    <script src="https://www.cbr-xml-daily.ru/money.js"></script>
</head>
<body>
    
    <%- body %>

</body>
</html>